<!doctype html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/styles.css">

    <title>Homepage</title>
</head>
<body>

<div class="inline">
	<h3>Students:</h3>
	<ul>
	{% for student in all_students %}
	<li>
		<a href="/student?github={{ student[2] }}">{{ student[0] }} {{ student[1] }}</a>
	</li>
	{% endfor %}
	</ul>
	<h3><a href="/student-form">Add a student!</a></h3>
</div>

<div class="inline">
	<h3>Projects:</h3>
	<ul>
		{% for project in all_projects %}
		<li>
			<a href="/project?title={{ project[0] }}">{{ project[0] }}</a>
		</li>
		{% endfor %}
	</ul>
	<h3><a href="/project-form">Add a project!</a></h3>
</div>

</body>
</html>